/* line 4, ../../../../../../../../../../../../../Users/JobbyJose/Desktop/Personal Folder/aaaSass/aaaSassProject/aaMySASSFiles/styles.scss */
h1 {
  color: #0000ff;
}

/* line 7, ../../../../../../../../../../../../../Users/JobbyJose/Desktop/Personal Folder/aaaSass/aaaSassProject/aaMySASSFiles/styles.scss */
h2 {
  color: #0000ff;
}

/*# sourceMappingURL=styles.css.map */